
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div id="dvNothing"></div>

<div id="dvSectionRight">
    <div id="dvCreateProjects" class="dv_entity_form"> 
        <div id="chart1" class="dv_chart"></div>        
        <div id="chart2" class="dv_chart" style="left: 60%"></div> 
        <div id="chart3" class="dv_chart" style="top: 60%; width:72%"></div>          
    </div>
</div>




<script type="text/javascript">


    window.onload = function () {

        $.ajax({
            cache: false,
            type: "GET",
            url: "/Home/getTaskCompletionStatusData",
            success: function (data) {

                if (data != "no data") {

                    var pie_data = [];
                    var bar_data = [];
                    var bar_series = [];
                    for (var i = 0; i < data.length; i++) {
                        pie_data.push([data[i].Name, data[i].Value]);
                        bar_data.push({ name: data[i].Name, data: [data[i].Value] });
                        bar_series.push(data[i].Name);
                    }

                    if (pie_data)
                        piechart(pie_data);
                    if (bar_data && bar_series) {
                        barchart(bar_data, bar_series);
                        line_chart();
                    }
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#chart2').append(JSON.stringify(xhr));

                //error_handlerXML('Error: ', XMLHttpRequest);
            }
        });

        function piechart(pie_data) {
            $('#chart1').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: 'Task Completion Status'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    data: pie_data
                }]
            });
        }

        function barchart(bar_data, bar_series) {
            $('#chart2').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Task Progress'
                },
                xAxis: {
                    categories: bar_series
                },
                yAxis: {
                    min: 5,max :100,
                    title: {
                        text: 'Progress in %'
                    }
                },
                //tooltip: {
                //    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                //    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                //        '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                //    footerFormat: '</table>',
                //    shared: true,
                //    useHTML: true
                //},
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: bar_data
            });
        }

        function line_chart() {
            $('#chart3').highcharts({
                title: {
                    text: 'Daily Task Progress',
                    x: -20 //center
                },
                //subtitle: {
                //    text: 'Source: WorldClimate.com',
                //    x: -20
                //},
                xAxis: {
                    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                        'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                },
                yAxis: {
                    title: {
                        text: '%'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: '°C'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                    name: 'Task 1',
                    data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
                }, {
                    name: 'Task 2',
                    data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
                }, {
                    name: 'Task 3',
                    data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
                }, {
                    name: 'Task 4',
                    data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
                }]
            });

        }

    }

</script>