@{
    ViewBag.Title = "IndexReport";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@model IEnumerable<Models.Report>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tblEntityList').dataTable({
            "sScrollX": "100%",
            "sScrollXInner": "110%",
            "bRetrieve": true
        });
    });  
</script> 

<input type="hidden" value="Report" id="hdEntity" />
<input type="hidden" value="Index" id="hdPage" />

<div id="dvSectionRight">
    <table id="tblEntityList" class="tbl_entity_list">
        <thead>            
        <tr>
            <th style="width: 10px;"><input id="cboxAll" type="checkbox" name="cboxAll" /></th>            
            <th>Name</th>
            <th>Created On</th>
        </tr>
        </thead>
       @if(Model != null)
        {
        <tbody>
            @foreach (var item in Model)
            {
            <tr>                
                <td style="width: 10px;"><input type="checkbox" name="cboxOne" value="@Html.DisplayFor(m => item.Id)"/></td>
                <td>@Html.DisplayFor(m => item.Name)</td>
                <td>@Html.DisplayFor(m => item.CreatedOn)</td>
            </tr>
            }
        </tbody>
       }
    </table>
</div>

